/*STEP 1: SET UP MOBILE LAYOUT*/
.grid-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body{background-image: linear-gradient(lightblue, white); margin:0;}
header { background-color: #869dc7;
        font-size: 120%;
        text-align:center;
        color:white;
        padding: 10px 10px 10px 10px;
        background-image: url(lighthouselogo.png);
        background-repeat: repeat; /*RESPONSIVE IMAGES*/
        position:sticky; /* Safari */
        position:sticky;
        top:0%;
        width:100%;
}
footer {
         display:flex;
         align-content:center;
         font-size:70%;
         padding: 0;
         clear: both;
         background:pink;
         height:40%;

}
p{font: 15px Helvetica; padding:4px;}
h2{padding: 4px;}

img{max-width: 100%; height: auto;object-fit: cover;} /*RESPONSIVE IMAGES*/

nav ul { list-style-type: none;
	   padding: 0;
}
nav li{display:inline; margin:3px;}
a:link,a:visited{color:navy; text-decoration: none;}

#floatright { margin: 10px;float: right; }
#bottomnav {text-align:center; width:30%; margin-left: auto; margin-right: auto;}
#maincontent {
	   padding:5%;
}

#menu a:hover{color:pink;}
#wrapper{
           background-color: white;
           color: #000066;
           width: 80%;
           margin: 0 auto;
        /*  min-width: 960px; REMOVED THIS*/
           padding-top:2%;
}

#mainnav{
  display: flex; justify-content:center;
  grid-column:1/span 2; grid-row:1;
}
#menu{
     width: 80%; /*ADJUSTED THIS FOR MOBILE*/
	   letter-spacing:0.1em;
	   font-weight: bold;
     border: 2px solid lightblue;
     border-radius: 25px;
     text-align:center;

}
#image-place{display: flex; align-content: center; justify-content: center; padding:10%;} /* RESPONSIVE IMAGE*/
.flexbox-center{display: flex; justify-content:center; }


@media (min-width: 768px) {
.grid-container{
           display: grid;
           grid-template-columns: 2fr 1fr;
           grid-template-rows: 60px 600px;
         }

header {
          font-size: 150%;
          padding: 10px 10px 10px 155px;
          text-align:left;
        }
#mainnav{
           display: flex; justify-content:flex-end;
           margin-right: 3%;
        }
#menu{
             width: 30%;
        }
}
