/*https://medium.com/swlh/how-i-use-css-grid-and-flexbox-to-create-a-one-page-website-262aeea3592a*/
body {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
        background-color: whitesmoke;
        padding: 10px;
}
header {
        background-color: darkgray;
        padding: 20px;
        text-align: center;
        font-size: 18px;
}
nav{
        background-color: plum;
        list-style: none;
        padding: 0;
        margin: 0;
}
main{
        background-color: cadetblue; 
}
article{
        background-color: yellowgreen;
}
aside{
        background-color: sandybrown;
}
footer{
        background-color: tomato;
}
